* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    min-height: 500px;
}

.blue-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(81, 179, 236);
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
    z-index: -1;
}

.header-elements {
    display: flex;
    padding: 75px;
}

.header-elements img {
    max-height: 750px;
    width: auto;
    box-shadow: 10px 7px 10px #0534;
    position: relative;
    z-index: 10;
}

.about-me-text {
    background-color: white;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 45px 25px 45px 25px;
    box-shadow: 10px 7px 10px rgba(0, 60, 36, 0.267);
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.about-me-text h1 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 25px;
}

.about-me-text p {
    font-size: 30px;
}

.header-icons {
    display: flex;
    gap: 15px;
    align-self: flex-end;
    margin-top: auto;
}

.header-icons svg {
    height: 50px;
    height: 50px;
    flex-shrink: 0;
}

.my-works {
    margin-top: 5%;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}

.my-works h1 {
    font-size: 45px;
    font-weight: 400;
    padding-bottom: 15px;
}

.work-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.project {
    box-shadow: 10px 7px 10px #0534;

}

.project img {
    width: 100%;
}

.project-description {
    padding: 10px 20px 35px 20px;
}

.project-description-first-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.project-description-first-row h2 {
    font-size: 30px;
    font-weight: 400;
}

.project-description-second-row {
    padding-bottom: 45px;
}

.project-description-second-row p {
    font-size: 20px;
}

.project-icons {
    display: flex;
    gap: 25px;
}

.project-icons svg {
    height: 40px;
    height: 40px;
    flex-shrink: 0;
}