* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 20%;
}

.blue-background {
    background-color: rgb(81, 179, 236);
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
}

.header-elements {
    display: flex;
    padding: 75px;
}

.header-elements img {
    max-height: 750px;
    width: auto;
    box-shadow: 10px 7px 10px #0534;
}

.about-me-text {
    background-color: white;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 25px;
    box-shadow: 10px 7px 10px #0534;
}

.about-me-text h1 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 25px;
}

.about-me-text p {
    font-size: 30px;
}